<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGMol-0PXn2Zw/company-logo_200_200/0/1597441813325?e=2159024400&v=beta&t=pT25Nff6ndecHMuyW_NxNWcFZbo4h8sTONKHBr7GQY8" alt="logo">
        <h1>Codefirst.io Professional</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Company" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/company">Company</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Employee" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Employee</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
